<aside class="main-sidebar" th:fragment="sidebar" xmlns:th="">
    <!-- sidebar: style can be found in sidebar.less -->

    <div class="row justify-content-center">
        <img class="d-block mb-4 col-7" th:src="@{/assets/image/aeon-750x468.jpg}" alt="logo">
    </div>
    <ul class="list-unstyled d-flex flex-column gap-2">
        <li>
            <a href="#overview" class="text-white text-decoration-none menu-item d-block" data-index-frame-target="1">
                <img th:src="@{/assets/icon/grid.png}" alt="Overview" class="icon-menu">
                Overview
            </a>
        </li>
        <li>
            <a href="#contract" class="text-white text-decoration-none menu-item d-block" data-index-frame-target="2">
                <img th:src="@{/assets/icon/task.png}" alt="Tasks" class="icon-menu">
                Contract
            </a>
        </li>
        <li>
            <a href="#recruitment" class="text-white text-decoration-none menu-item d-block"
               data-index-frame-target="3">
                <img th:src="@{/assets/icon/stack-add.png}" alt="Recruitment" class="icon-menu">
                Recruitment
            </a>
        </li>
        <li>
            <a href="#events" class="text-white text-decoration-none menu-item d-block" data-index-frame-target="4">
                <img th:src="@{/assets/icon/event.png}" alt="Events" class="icon-menu">
                Events
            </a>
        </li>
        <li>
            <a href="#e-signature" class="text-white text-decoration-none menu-item d-block"
               data-index-frame-target="5">
                <img th:src="@{/assets/icon/signature.png}" alt="e-Signature" class="icon-menu">
                e-Signature
            </a>
        </li>
        <li>
            <a href="#settings" class="text-white text-decoration-none menu-item d-block" data-index-frame-target="6">
                <img th:src="@{/assets/icon/setting.png}" alt="Settings" class="icon-menu">
                Settings
            </a>
        </li>
    </ul>
    <!-- /.sidebar -->
</aside>