<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QUAN LY NHAN SU</title>
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/main.css}">
  <link rel="stylesheet" th:href="@{/assets/css/index.css}">
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
  <title th:text="${pageTitle}">Admin</title>
</head>
